#container_Map{
	flex: 1;
	/* background-color: red; */
	justify-content: center;
	padding-bottom: 10px;
}
#choropleth_map {
	flex : 1;
	align-items: center;
	/* border: 1px solid black; */
	padding-left: 20px;
	padding-top: 20px;
	/*height: 1000px;
	width: 800px;*/
	
}
#container_PieChart{
	flex: 1;
	/* background-color: purple; */
	justify-content: center;
}
#pie_chart {
	flex : 1;
	/* background-color: black; */
	align-items: center;
	padding-bottom: 20px;
	padding-left: 10px;
	border: 1px solid black;
}
